
:host{
    width: 100%;
}
.action-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.disabled{
        cursor: not-allowed;
        background-color: lightgrey!important;
        pointer-events: none;
}